@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

html {
  --color-primary: #c62368;
  --color-secondary: #001220;
  --color-tertioary: #fa7268;
  background-color: var(--color-secondary);
}
body {
  padding: 0px;
  margin: 0px;
}
/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  position: sticky;
  top: 0;
  height: 5vh;
  font-family: "Roboto", sans-serif;
}
.nav-links {
  text-decoration: none;
  color: var(--color-primary);
}
.nav-links:hover {
  color: var(--color-tertioary);
}
.welcome-user {
  color: var(--color-tertioary);
}
.logout-button {
  color: var(--color-primary);
  background-color: var(--color-tertioary);
  border: none;
  height: 1.5rem;
  width: 4rem;
  border-radius: 10px;
  font-family: Anton, sans-serif;
}
.logout-button:hover {
  border: 1px solid var(--color-primary);
}
.nav-left {
  display: flex;
  flex-direction: row;
  margin: 0 10vw;
  align-items: center;
  justify-content: flex-end;
  height: 3vh;
  gap: 5vw;
}
.nav-right {
  width: 40vw;
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  align-items: center;
  justify-content: flex-end;
  height: 3vh;
  gap: 5vw;
}
/* navbar completed */

.about {
  font-family: Roboto, sans-serif;
  
}
