html {
  --color-primary: #161616;
  --color-secondary: #9a7503;
  background-color: var(--color-primary);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 115, 0);
  border-radius: 10px;
}
.main-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
