
<!DOCTYPE html>
<meta charset="utf-8">


<script src="https://d3js.org/d3.v4.js"></script>








<link rel="stylesheet" href="./views/index.css">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="shortcut icon" type="image/jpg" href="./views/images/favicon.ico"/>
<title>project hub</title>
</head>
<body>


<div class = "navbar">
    <div class="nav-left">
        <a class="nav-links" href="https://www.arshiakalkhorani.com/">Back</a>
        <a class="nav-links" href="/projects">Projects</a>
        <a class="nav-links" href="https://github.com/arshiaKalkho/">GitHub</a>
        
        
            
    </div>


    <div class="nav-right">
        
        <button class="dark-mode-toggle" id="dark-mode-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20" viewBox="0 0 256 256" xml:space="preserve">
                <desc>Created with Fabric.js 1.7.22</desc>
                <defs>
                </defs>
                <g transform="translate(128 128) scale(0.72 0.72)" style="">
                    <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)" >
                    <circle cx="45" cy="45" r="41" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #ffffff; fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/>
                    <circle id = "darkInnerSVG1" cx="45" cy="45" r="41" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #000ffc; fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/>
                    <path d="M 45 90 C 20.187 90 0 69.813 0 45 C 0 20.187 20.187 0 45 0 c 24.813 0 45 20.187 45 45 C 90 69.813 69.813 90 45 90 z M 45 8 C 24.598 8 8 24.598 8 45 c 0 20.402 16.598 37 37 37 c 20.402 0 37 -16.598 37 -37 C 82 24.598 65.402 8 45 8 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #000000; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    <path id = "darkInnerSVG2" d="M 45 86 C 22.356 86 4 67.644 4 45 S 22.356 4 45 4 V 86 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #1cd1d1; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                </g>
                </g>
            </svg>
        </button>
        <h5 class="welcome-user">Welcome <%= name %></h5>
        <form action="/logout?_method=DELETE" method="POST">
            <button class="logout-button"type="submit">Log Out</button>
        </form>
        
    </div>
</div>




<div class="body">
    <div class="about">
        <h2 class="about-header">About This Website</h2>
        <p>This website was build using <strong>Node.js</strong> , <strong>express.js</strong>, <strong>mongoDB</strong> and of course vanila JavaScript, Other tools include <strong>passport</strong> for session managment and <strong>bcrypt</strong> for encryption. User authentication system is sessions and cookie based, user data is saved mongoDB database. Please don't use real passwords, While I will make sure your data is safe with me and all the industry standard precautions are taken, I just don't want to be responsible.
        Nevertheless if you used real passwords don't worry they are hashed multiple times and "salted" which means identical passwords will look different in storage</p>
        <p>To see what I'm on currently working on take a look at the graph below, It's updated live and shows all projects and how much they are worked on. You can find all my projects in my <a href="https://github.com/arshiakalkho"> github</a> repo.</p>
    </div>
    
    
    
    
    
    
    <div class="separator"></div>

    <div class="commit-history-flex">
        <div class="commit-history-info">
            <H2>Live github event graph</H2>
            <p> Using <strong>D3.js</strong> I created a graph to show all push and pull events to and from my github account. The graph is completely dynamic, The column headings will change depending on how many different repositories are involved in the past 25 events that are acquired by accessing <strong>github api</strong>.
                The graph will also resize itself to fit the screen so if it doesn't look right just refresh and it will reset. Of course as everything in this website including the website itself  source codes are available on my <a href="https://github.com/arshiakalkho">github</a> </p>

        </div>
        <div class="commit-history" id="my_dataviz"></div>
    </div>
</div>
<div class="footer">
    To contact me, Please visit <a href="https://arshiakalkhorani.com"> My Website</a>
</div>
</body>


<script>


var viewPortWidth, viewPortHeight =0;

if (typeof window.innerWidth != 'undefined') {
   viewPortWidth = window.innerWidth,
   viewPortHeight = window.innerHeight
 }

// IE6 in standards compliant mode (i.e. with a valid doctype as the first line in the document)
 else if (typeof document.documentElement != 'undefined'
 && typeof document.documentElement.clientWidth !=
 'undefined' && document.documentElement.clientWidth != 0) {
    viewPortWidth = document.documentElement.clientWidth,
    viewPortHeight = document.documentElement.clientHeight
 }

 // older versions of IE
 else {
   viewPortWidth = document.getElementsByTagName('body')[0].clientWidth,
   viewPortHeight = document.getElementsByTagName('body')[0].clientHeight
 }




//alignement for bigger and smaller screens adjust to taste
var hsizeMultiplier=1.5;
var vsizeMultiplier=1.8;
var marginRight=35;
var marginTop=130;
if( viewPortWidth< 550){//small devices
    hsizeMultiplier = 1.2;
    vsizeMultiplier = 2; 
}

if(viewPortWidth > 1400){//large devices
    marginRight=80;
    marginTop=200;
    hsizeMultiplier = 1.4;
    vsizeMultiplier = 2; 
}
if(viewPortHeight < 400){
    marginTop=30;
}

// set the dimensions and margins of the graph
var margin = {top:marginTop, right: marginRight, bottom: 30, left:150},
    width = viewPortWidth/hsizeMultiplier - margin.left - margin.right,
    height = viewPortHeight/vsizeMultiplier - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#my_dataviz")
.append("svg")
    .attr("width", width+ margin.left + margin.right)
    .attr("height",height + margin.top + margin.bottom)
.append("g")
    .attr("transform",
    "translate(" + margin.left + "," + margin.top + ")");

//read data
d3.json("https://api.github.com/users/arshiaKalkho/events?per_page=27", (data) => {
  // Get the different categories and count them
//   console.log(data)

  var categories = []
for(i = 0; i <data.length ; i++){  
    if(categories.includes(data[i].repo.name.replace('arshiaKalkho/',''))){
        // do nothing
    }else{
        Data = data[i].repo.name.replace('arshiaKalkho/','')//removing my github account from the name
        categories.push(Data)
    }
    
}
  //console.log(categories)

const ave = (pushes, repoName)=>{//counts all commit through mutiple pushes for a certain repositorie
 
    var total=0;
    var count=0;
    for(i = 0; i <pushes.length ; i++){  
        if(pushes[i].repo.name.indexOf(repoName) != -1 && pushes[i].payload.size!= null){//initial commits don't have a size so if size is null it won't count
            //console.log(repoName,pushes[i].id ,": ","total", total, "+=", pushes[i].payload.size)
            total+=pushes[i].payload.size;
            count++;
        }
    }
    if(count!=0){    
        return total/count;

    }
    return 1;//for now
    
};  
var n = categories.length

// Compute the mean of each group
allMeans = []
for (i in categories){
    
    currentGroup = categories[i]
    mean = ave(data,currentGroup)
    allMeans.push(mean)
}   
//console.log("all means",allMeans)
  // Create a color scale using these means.
var myColor = d3.scaleSequential()
    .domain([0,3])
    .interpolator(d3.interpolateViridis);

    // Add X axis
var x = d3.scaleLinear()
    .domain([-10, 120])
    .range([ 0, width ]);
svg.append("g")
    .attr("class", "xAxis")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x).tickValues([0,25, 50, 75, 100,120]).tickSize(-height) )
    .select(".domain").remove()

  // Add X axis label:
svg.append("text")
    .attr("text-anchor", "end")
    .attr("x", width)
    .attr("y", height +30)
    .text("Start Date: " +data[data.length - 1].created_at.substring(0,10) +" Status: Live");

  // Create a Y scale for densities
var y = d3.scaleLinear()
    .domain([0, 0.25])
    .range([ height, 0]);
    
    // Create the Y axis for names 
    var yName = d3.scaleBand()
    .domain(categories)
    .range([0, height])
    .paddingInner(1)
    svg.append("g")
    .call(d3.axisLeft(yName).tickSize(0))
    .select(".domain").remove()
    
    var allDensity = []
    for (i = 0; i < n; i++) {
        var counter=-10;
        key = categories[i]
        density =  data.slice(0).reverse().map(function(d){  
            
            if(counter === -10 || counter === 120){
                counter+=5;
                return [counter, 0]
            }counter+=5;
            if(d.repo.name.replace('arshiaKalkho/','') === key && d.type === 'PushEvent'){
                return [counter, d.payload.size/30]
            }else{
                return [counter, 0.001]
            }
            
            ; }) 
            
        
        allDensity.push({key: key, density: density})
    }

    // Add areas
    svg.selectAll("areas")
    .data(allDensity)
    .enter()
    .append("path")
    .attr("transform", function(d){return("translate(0," + (yName(d.key)-height) +")" )})
    .attr("fill", function(d){
        grp = d.key ;
        index = categories.indexOf(grp)
        value = allMeans[index]
        return myColor( value  )
    })
    .datum(function(d){return(d.density)})
    .attr("opacity", 0.9)
    .attr("stroke", "#000")
    .attr("stroke-width", 3)
    .attr("d",  d3.line()
    .curve(d3.curveBasis)
    .x(function(d) { return x(d[0]); })
    .y(function(d) { return y(d[1]); })
    )
    
})


</script>
<script src="./views/darkmode.js"></script>
</html>
