@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

html {
  --color-primary: #c62368;
  --color-secondary: #001220;
  --color-tertioary: #fa7268;
  --color-grey: #302f2f;
  background-color: var(--color-secondary);
  font-family: "Roboto", sans-serif;
}
body {
  padding: 0px;
  margin: 0px;
}
/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  position: sticky;
  top: 0;
  height: 5vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-grey);
}
.nav-links {
  text-decoration: none;
  color: var(--color-primary);
}
.nav-links:hover {
  color: var(--color-tertioary);
}
.welcome-user {
  color: var(--color-tertioary);
}
.logout-button {
  color: var(--color-primary);
  background-color: var(--color-tertioary);
  border: none;
  height: 1.5rem;
  width: 4rem;
  border-radius: 10px;
  font-family: Anton, sans-serif;
}
.logout-button:hover {
  border: 1px solid var(--color-primary);
}
.nav-left {
  display: flex;
  flex-direction: row;
  margin: 0 10vw;
  align-items: center;
  justify-content: flex-end;
  height: 3vh;
  gap: 5vw;
}
.nav-right {
  width: 40vw;
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  align-items: center;
  justify-content: flex-end;
  height: 3vh;
  gap: 5vw;
}
/* navbar completed */

.about {
  font-family: Roboto, sans-serif;
}
.svg > g > g > g .tick {
  fill: var(--color-primary);
}

#my_dataviz > svg > g > g:nth-child(3) > g > text,
#my_dataviz > svg > g > g.xAxis > g > text {
  fill: var(--color-primary);
}
#my_dataviz > svg > g > g.xAxis > g > line {
  stroke: var(--color-tertioary);
}
#my_dataviz > svg > g > text {
  fill: var(--color-primary);
  font-family: "Roboto", sans-serif;
}


  .commit-history-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width:1000px) {
  
.commit-history-flex {
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
}
.commit-history{
  margin:2vh;
  margin-right: 4vh;
}
.commit-history-info{
  margin: 2vh;
}
  
}


.commit-history {
  margin-top: 5vh;
}
.commit-history-info {
  margin-top: 5vh;
  
  text-align: center;
  padding: 1.5rem;
  color: var(--color-primary);
}
.commit-history-info > h2 {
  font-family: "Anton", serif;
  color: var(--color-tertioary);
}
.commit-history-info > p > strong {
  color: var(--color-tertioary);
}
.commit-history-info > p > a {
  font-family: "Anton", serif;
  color: var(--color-tertioary);
  
