<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./views/index.css">
    <title>project hub</title>
</head>
<body>
    
    
    <div class = "navbar">
    
    
    <a href="/nodejs-express-hub/views/index.ejs">Home</a>
    <a href="/nodejs-express-hub/views/login.ejs">Login</a>
    <a href="/nodejs-express-hub/views/register.ejs">Register</a>
    <div class="nav-right">
        <h3>Welcome <%= name %></h3>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </div>
    </div>





















    </body>
</html>