<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./views/login.css">
    <link rel="shortcut icon" type="image/jpg" href="./views/images/favicon.ico"/>
    <title>login</title>
</head>
<body>
    <div class="heading">
        <h1>Login</h1>
    </div>
    <div class="main-div">
        

        <div class="info">
            <p>Please just press the login button, <strong>you don't need an account to access this site</strong>. Feel free to create your own account <strong> Don't use real passwords</strong>, they are completely encrypted with bcrypt and i don't save them long term on the database, but you can test my authentication if you want.</p>
        </div>
        <form class ="input login-form"action="/login" method="post">
            <div class="error">
            <% if (messages.error) { %>
                <%= messages.error %>
            <% } %>
        </div>
            <div>
                <h5>Email</h5>
                <input  type="text" value="root@email.com" id="email" name="email" required>
            </div>
            <div>
                <h5>Password</h5>
                <input  type="text" value="toor" id="password" name="password" required>
            </div>
            <button type="submit">login</button>
            <a href="/register">Register</a>
            
        </form>
    </div>
</body>
</html>