<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./views/index.css">
    <title>login</title>
</head>
<body>
    <div class="main-div">


        
        <form class ="input"action="/login" method="post">
            <% if (messages.error) { %>
                <%= messages.error %>
            <% } %>
            <div>
                <label for="email"> Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="password"> Password</label>
                <input type="text" id="password" name="password" required>
            </div>
            <button type="submit">login</button>
            <a href="/register">Register</a>
        </form>
    </div>
</body>
</html>