html {
  --color-primary: #161616;
  --color-secondary: #9a7503;
  background-image: url("./images/login-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form {
  min-height: 25vh;
  min-width: 40vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
}
