<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./views/not-found.css">
    <link rel="shortcut icon" type="image/jpg" href="./views/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <div class = "navbar">
        <div class="nav-left">
            <a class="nav-links" href="/">Back</a>
            <a class="nav-links" href="/projects">Projects</a>
            <a class="nav-links" href="https://github.com/arshiaKalkho/">GitHub</a>
            
            
            
        </div>
        <div class="nav-right">
            <form action="/logout?_method=DELETE" method="POST">
                <button class="logout-button"type="submit">Log Out</button>
            </form>
        </div>
    </div>



    <div class="placeholder-content">
        <strong>404 not found,</strong> <br>This page your trying to access doesn't exist, <br> But i like your sense of adventure.
    </div>




</body>
</html>