<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/jpg" href="./views/images/favicon.ico"/>
    <link rel="stylesheet" href="./views/projects.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <div class = "navbar">
        <div class="nav-left">
            <a class="nav-links" href="/">Back</a>
            <a class="nav-links" href="https://github.com/arshiaKalkho/">GitHub</a>
            <a class="nav-links" href="https://www.linkedin.com/in/arshia-kalkhorani/">Linkdin</a>
            
            
        </div>
        <div class="nav-right">
            <h5 class="welcome-user">Welcome <%= name %></h5>
            <form action="/logout?_method=DELETE" method="POST">
                <button class="logout-button"type="submit">Log Out</button>
            </form>
        </div>
    </div>


    <div class="header">
        .
    </div>
    <div class="main-grid">
        <div class="card">
            <div class='banner-img'></div>
            <img src='./views/images/react-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">React website</h2>
            <p class="description">I decided to use React for my personal portfolio, still is a work in progress but polished enough for a quick production build. of course if your here then you already visited my main website, Regardless use the link to checkout the code or go back to it.</p>
            <a class="btn btn-code"href="https://github.com/arshiaKalkho/silver-palm-tree">Code</a>
            <a href="https://arshiakalkhorani.com"class='btn'>Try it</a>
        </div>
        <div class="card">
            <div class='banner-img'></div>
            <img src='./views/images/nodejs-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">My projects website</h2>
            <p class="description">Well, This is it. this website thought me a lot, hopefully it continues to do so since i'm planning to change from session based auth to JWT. nevertherless you've seen this website so checkout the source code.</p>
            <a class="btn btn-code"href="https://github.com/arshiaKalkho/nodejs-express-hub">Code</a>
            <a href="/"class='btn'>Try it</a>
        </div>
        <div class="card">
            <div class='banner-img'></div>
            <img src='./views/images/spotify-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">Spotify App</h2>
            <p class="description">This react app was made to practice rest api, axios and api authentication with keys. Simple page, Takes information from user about genres/mood and retrieves songs with artcover.</p>
            <a class="btn btn-code"href="https://github.com/arshiaKalkho/react-spotify-api">Code</a>
            <a href="https://admiring-galileo-46e1ca.netlify.app"class='btn'>Try it</a>
        </div>
        <div class="card">
            <div class='banner-img'></div>
            <img src='./views/images/c++-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">Chess Console App</h2>
            <p class="description">I alwats wanted to write a chess app, i can't publish since it's not finished by feel free to checkout my repo.</p>
            <a class="btn btn-code"href="https://github.com/arshiaKalkho/SimpleChess">Code</a>
            <a href="#"class='btn disabled'>Try it</a>
        </div>
        <div class="card">
            <div class='banner-img'></div>
            <img src='./views/images/d3js-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">D3js event graph</h2>
            <p class="description">This graph was placed in the main page of this website. The reasoning behind it is that i needed to learn d3js and i did, The graph is just proof of concept.</p>
            <a class="btn btn-code"href="https://github.com/arshiaKalkho/nodejs-express-hub/blob/main/views/index.ejs">Code</a>
            <a href="/"class='btn'>Try it</a>
        </div>
        <div class="card">
            <div class='banner-img'></div>
            <img src='./views/images/javascript-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">Tetris</h2>
            <p class="description">I wanted to use DOM and write tetris it should be done soon</p>
            <a class="btn btn-code"href="#">Code</a>
            <a href="#"class='btn disabled'>Coming Soon</a>
        </div>
        <div class="card">
            <div class='banner-img'></div>
            <img src='./views/images/c++-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">RobotC</h2>
            <p class="description">I was challenged to create a better solution for line following robot that can handle sharper turns, this was the solution.</p>
            <a class="btn btn-code"href="https://github.com/arshiaKalkho/robotC-line-follower">Code</a>
            <a href="#"class='btn disabled'>Try it</a>
        </div>
        
        
        
        
        
    
    
    
    </div>




</body>
</html>