@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

html {
  --color-primary: #c62368;
  --color-secondary: #001220;
  --color-tertioary: #fa7268;
  --color-grey: #302f2f;
  background-color: var(--color-secondary);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 3px #fa7268;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 100vw;
}
body {
  padding: 0px;
  margin: 0px;
}
/* navbar */
.navbar {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  position: absolute;
  top: 0;
  height: 5vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-grey);
}
.nav-links {
  font-family:"Anton", sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--color-primary);
  padding: 5px;
  border-radius: 10px;
}
.nav-links:hover {
  background-color: var(--color-tertioary);
  transition: all 200ms ease-in-out;
}
.welcome-user {
  color: var(--color-tertioary);
}
.logout-button {
  color: var(--color-primary);
  background-color: var(--color-tertioary);
  border: none;
  height: 1.5rem;
  width: 4rem;
  border-radius: 10px;
  font-family: Anton, sans-serif;
}
.logout-button:hover {
  border: 1px solid var(--color-primary);
}
.nav-left {
  display: flex;
  flex-direction: row;
  margin: 0 10vw;
  align-items: center;
  justify-content: flex-end;
  height: 3vh;
  gap: 5vw;
}
.nav-right {
  width: 40vw;
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  align-items: center;
  justify-content: flex-end;
  height: 3vh;
  gap: 5vw;
}

/* navbar completed */

.main-grid{
  margin: 20vh 2vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  gap: 2rem;
}

.card {
  overflow: hidden;
  box-shadow: 2px 8px 10px 2px var(--color-primary);
  background-color: var(--color-grey);
  text-align: center;
  border-radius: 10px;
  position: relative;
  border: solid var(--color-tertioary) 2px
}
.card:hover{
  transform: scale(1.05);
  transition: all 200ms ease-out;
  box-shadow: 2px 10px 10px 2px var(--color-tertioary);
}
.banner-img {
  position: absolute;
  background-image: url("./views/images/card-back.PNG");
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-img {
  width: 8rem;
  clip-path: circle(70px at center);
  margin-top: 4.5rem;
  transition: transform .7s ease-in-out;
}
.profile-img:hover{
  transform: rotate(360deg);
}

.name {
 font-family: "Anton" , sans-serif;
 color:white;
 
}

.description {
  color: white;
  padding: 2px;
  min-height: 10vh;
  max-height: 10vh;
  overflow-y: scroll;
  overflow-x: hidden;

}

.btn {
  display: block;
  width: 90%;
  border: none;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background-color: var(--color-tertioary);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.btn-code {
  display: block;
  width: 90%;
  border: none;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background-color: var(--color-primary);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.btn:hover{
  opacity: calc(0.5);
  transition: all 200ms ease-in-out;
}


.disabled{
  opacity: calc(0.2);
}
.disabled:hover{
  opacity: calc(0.2);
}



@media only screen and (max-width: 500px) {
  .placeholder-content {
    font-size: 3rem;
    margin: 20px;
    margin-top: 30vh;
  }
  body > div.navbar > div.nav-left > a {
    font-size: 1.2rem;
  }
  .welcome-user {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
  .navbar > div {
    margin: 0;
  }
  .commit-history-info {
    margin-top: 5vh;
  }
  .separator {
    height: 10vh;
  }
}
