<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./views/projects.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <div class = "navbar">
        <div class="nav-left">
            <a class="nav-links" href="/">Back</a>
            <a class="nav-links" href="https://github.com/arshiaKalkho/">GitHub</a>
            <a class="nav-links" href="https://www.linkedin.com/in/arshia-kalkhorani/">Linkdin</a>
            
                
        </div>
        <div class="nav-right">
            <h5 class="welcome-user">Welcome <%= name %></h5>
            <form action="/logout?_method=DELETE" method="POST">
                <button class="logout-button"type="submit">Log Out</button>
            </form>
        </div>
    </div>
</body>
</html>