<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/jpg" href="./views/images/favicon.ico"/>
    <link rel="stylesheet" href="./views/projects.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <div class = "navbar">
        <div class="nav-left">
            <a class="nav-links" href="/">Back</a>
            <a class="nav-links" href="https://github.com/arshiaKalkho/">GitHub</a>
            <a class="nav-links" href="https://www.linkedin.com/in/arshia-kalkhorani/">Linkdin</a>
            
            
        </div>
        <div class="nav-right">
            <button class="dark-mode-toggle" id="dark-mode-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20" viewBox="0 0 256 256" xml:space="preserve">
                    <desc>Created with Fabric.js 1.7.22</desc>
                    <defs>
                    </defs>
                    <g transform="translate(128 128) scale(0.72 0.72)" style="">
                        <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)" >
                        <circle cx="45" cy="45" r="41" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #ffffff; fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/>
                        <circle id = "darkInnerSVG1" cx="45" cy="45" r="41" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #000ffc; fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/>
                        <path d="M 45 90 C 20.187 90 0 69.813 0 45 C 0 20.187 20.187 0 45 0 c 24.813 0 45 20.187 45 45 C 90 69.813 69.813 90 45 90 z M 45 8 C 24.598 8 8 24.598 8 45 c 0 20.402 16.598 37 37 37 c 20.402 0 37 -16.598 37 -37 C 82 24.598 65.402 8 45 8 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #000000; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path id = "darkInnerSVG2" d="M 45 86 C 22.356 86 4 67.644 4 45 S 22.356 4 45 4 V 86 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #1cd1d1; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    </g>
                    </g>
                </svg>
            </button>
            <h5 class="welcome-user">Welcome <%= name %></h5>
            <form action="/logout?_method=DELETE" method="POST">
                <button class="logout-button"type="submit">Log Out</button>
            </form>
        </div>
    </div>
    
    <div class="header-info">
        <h1 class="header"> Projects</h1>
        <p class="project-desc">All my projects are here, Check them out if they are published by pressing "try it" or press the code button to go to github and see the source code. The images are representative of frameworks used or specific concepts involved in the project.  </p>
    </div>
    
    
    <div class="main-grid">
        <div class="card">
            <div class='banner-img movoid-img'></div>
            <img src='./views/images/vue-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">Movioid.com</h2>
            <p class="description">A fullstack mevn stack with jwt designed to rate movies. The app saves data about scenes in movies which were deemed inappropriate with timestamp. Made for everyone since movie PG ratings aren't accurate. this website is coming soon on Movioid.com.</p>
            <a class="btn btn-code"href="https://github.com/arshiaKalkho/Movioid">Code</a>
            <a href="#"class='btn disabled'>Try it</a>
        </div>
        <div class="card">
            <div class='banner-img portfolio-img'></div>
            <img src='./views/images/react-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">React website</h2>
            <p class="description">I decided to use React for my personal portfolio, still is a work in progress but polished enough for a quick production build. of course if your here then you already visited my main website, Regardless use the link to checkout the code or go back to it.</p>
            <a class="btn btn-code"href="https://github.com/arshiaKalkho/silver-palm-tree">Code</a>
            <a href="https://arshiakalkhorani.com"class='btn'>Try it</a>
        </div>
        <div class="card">
            <div class='banner-img projects-img'></div>
            <img src='./views/images/nodejs-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">My projects website</h2>
            <p class="description">Well, This is it. this website thought me a lot, hopefully it continues to do so since i'm planning to change from session based auth to JWT. nevertherless you've seen this website so checkout the source code.</p>
            <a class="btn btn-code"href="https://github.com/arshiaKalkho/nodejs-express-hub">Code</a>
            <a href="/"class='btn'>Try it</a>
        </div>
        <div class="card">
            <div class='banner-img spotify-img'></div>
            <img src='./views/images/spotify-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">Spotify App</h2>
            <p class="description">This react app was made to practice rest api, axios and api authentication with keys. Simple page, Takes information from user about genres/mood and retrieves songs with artcover.</p>
            <a class="btn btn-code"href="https://github.com/arshiaKalkho/react-spotify-api">Code</a>
            <a href="https://admiring-galileo-46e1ca.netlify.app"class='btn'>Try it</a>
        </div>
        <div class="card">
            <div class='banner-img'></div>
            <img src='./views/images/c++-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">Chess Console App</h2>
            <p class="description">I always wanted to write a chess app, i can't publish since it's not finished but feel free to checkout my repo.</p>
            <a class="btn btn-code"href="https://github.com/arshiaKalkho/SimpleChess">Code</a>
            <a href="#"class='btn disabled'>Try it</a>
        </div>
        <div class="card">
            <div class='banner-img'></div>
            <img src='./views/images/d3js-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">D3js event graph</h2>
            <p class="description">This graph was placed in the main page of this website. The reasoning behind it is that i needed to learn d3js and i did, The graph is just proof of concept. It shows my commit history on arshiaKalkho repos</p>
            <a class="btn btn-code"href="https://github.com/arshiaKalkho/nodejs-express-hub/blob/main/views/index.ejs">Code</a>
            <a href="/"class='btn'>Try it</a>
        </div>
        <div class="card">
            <div class='banner-img'></div>
            <img src='./views/images/javascript-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">Tetris</h2>
            <p class="description">I wanted to use DOM and write tetris it should be done soon</p>
            <a class="btn btn-code"href="#">Code</a>
            <a href="#"class='btn disabled'>Coming Soon</a>
        </div>
        <div class="card">
            <div class='banner-img'></div>
            <img src='./views/images/c++-logo.svg'alt='profile image' class="profile-img">
            <h2 class="name">RobotC</h2>
            <p class="description">I was challenged to create a better solution for line following robot that can handle sharper turns, this was the result. It has a boost system that if the sensor isn't on the line after continuous turns in the same durection, It will turn harder and harder until the catches the line back.</p>
            <a class="btn btn-code"href="https://github.com/arshiaKalkho/robotC-line-follower">Code</a>
            <a href="#"class='btn disabled'>Try it</a>
        </div>
        
        
        
        
        
    
    
    
    </div>

    <div class="footer">
        To contact me, Please visit <a href="https://arshiakalkhorani.com"> My Website</a>
    </div>


</body>
</html>
<script>
    
    
    let darkmode = localStorage.getItem("darkMode");
    const darkModeToggle = document.querySelector("#dark-mode-toggle");
    let vars = document.querySelector("html");

    let footer =  document.querySelector(".footer");
    let darkmodeButton1 = document.querySelector("#darkInnerSVG1")
    let darkmodeButton2 = document.querySelector("#darkInnerSVG2")

    
    const enableDarkMode = () =>{
        document.body.classList.add("darkmode");
        vars.style.setProperty('--color-primary', "#000ffc" )
        vars.style.setProperty('--color-secondary', "001220" )
        vars.style.setProperty('--color-tertioary', "#1cd1d1" )

        footer.style.backgroundImage = "url('./views/images/footer-light-mode.svg')"
        
        darkmodeButton1.style.fill="#c62368"
        darkmodeButton2.style.fill="#fa7268"

        localStorage.setItem("darkMode", "enabled")
    };
    
    const disableDarkMode = () =>{
        vars.style.setProperty('--color-primary', "#c62368" )
        vars.style.setProperty('--color-secondary', "#001220" )
        vars.style.setProperty('--color-tertioary', "#fa7268" )

        footer.style.backgroundImage = "url('./views/images/footer-background.svg')"
        darkmodeButton1.style.fill="#000ffc"
        darkmodeButton2.style.fill="#1cd1d1"
        
        localStorage.setItem("darkMode", null)
    };

    //on page load check for local storage var darkmode's value
    if(darkmode === "enabled"){
        enableDarkMode()
    }
    
    //when clicking on the darkmode button
    darkModeToggle.addEventListener("click", ()=>{
        darkmode = localStorage.getItem("darkMode");
        if(darkmode !== "enabled"){
            enableDarkMode()
        }else{
            disableDarkMode()
        }
    })</script>